<section class="header">
    <a href="./login.html"><img src="./images/Nina(頭貼).png" alt=""></a>
    <div class="btn">
        <button type="button" data-page="about" onclick="location.href='./index.html#about_area'">ABOUT</button>
        <button type="button" data-page="work" onclick="location.href='./work.html#work_area'">WORK</button>
        <button type="button" data-page="growth" onclick="location.href='./growth.html#growth_area'">GROWTH</button>
        <button type="button" data-page="practice"
            onclick="location.href='./practice.html#practice_area'">PRACTICE</button>
        <button type="button" data-page="messages"
            onclick="location.href='./messages.html#messages_area'">MESSAGES</button>
    </div>
</section>