<section class="header">
    <img src="./images/Nina(頭貼).png" alt="">
    <div class="btn">
        <button type="button" data-page="about" onclick="location.href='./index.html'">ABOUT</button>
        <button type="button" data-page="work" onclick="location.href='./work.html'">WORK</button>
        <button type="button" data-page="growth" onclick="location.href='./growth.html'">GROWTH</button>
        <button type="button" data-page="practice" onclick="location.href='./practice.html'">PRACTICE</button>
        <button type="button" data-page="messages" onclick="location.href='./messages.html'">MESSAGES</button>
    </div>
</section>