body {
    /*背景設定*/
    /* 覆蓋透明漸層*/
    background-image: url('../../images/bg3.png');
    background-repeat: repeat;
    background-size: 480px 853px;

    /* 字形 */
    font-family: Arial, 'Microsoft JhengHei', 'PingFang TC', sans-serif;
}

.nina_Web {
    height: auto;
    width: 80vw;
    margin: 0 auto 10vh;
}

h1 {
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    padding: 7.5vh 0 4.7vh;
}

h2 {
    font-size: 2.5vw;
    font-weight: bold;
    text-align: center;
    padding: 9.6vh 0 4.7vh;
}

h3 {
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    padding: 3vh 0 1.5vh;
}

p {
    font-size: 1.8vw;
    line-height: 8vh;
}

#backToTop {
    display: none;
    position: fixed;
    right: 1.5vw;
    bottom: 1.5vh;
    z-index: 1000;

    width: 5vw;
    height: 12vh;
    font-size: 2.8vw;

    border: none;
    background-color: rgba(0, 0, 0, 0.333);
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

@media (max-width:576px) {
    body {
        /*背景設定*/
        background-size: 240px 426.5px;
    }

    .nina_Web {
        margin: 0 auto 3vh;
    }

    h1 {
        padding: 2vh 0 1vh;
    }

    h2 {
        padding: 2vh 0 1vh;
    }

    h3 {
        padding: 0.5vh 0;
    }

    p {
        line-height: 2vh;
    }

    #backToTop {
        display: none;
        position: fixed;
        right: 1.5vw;
        bottom: 1.5vh;
        z-index: 1000;

        width: 7vw;
        height: 3vh;
        font-size: 2.8vw;
    }
}